# Environment
.env

# Flutter
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies

# Dart
backend/.dart_tool/
backend/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
